
.container {
  width: 50%;
  position: relative;
  top: 40px;
  left: 25%;
}


h1 {
  text-align: center;
    border-radius: 5px;
}

h1:hover{
    background: linear-gradient(
        90deg,
        rgba(184, 84, 232, 1) 0%,
        rgba(132, 53, 222, 1) 100%
      );
      transform: scale(0.8);
      cursor: pointer;
      border-radius: 5px;
}